@import url(https://fonts.google.com/?selection.family=Kaushan+Script);

body{
 
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: dimgray;
  
    background: linear-gradient(to bottom right, paleturquoise, palegreen);
}
#first{
    width: 25%;
    float: right;
    padding: 2em;
}
#second{
    width: 25%;
    float: left;
    padding: 2em;
}